@import './../../sass/variables.scss';
@import './../../sass/mixin.scss';

.content-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.txt-search{
    width: 100%;
    padding:.5em;
    font-size: 18px;
    padding-right: 30px;
    border: 0;
    @include border-radius(3px,0,0,3px);
    color:$fontprimary;
}

.btn-search{
    width: 48px;
    height: 39px;
    background-color: $background;
    background-image: url(./../../assets/ic_Search.png);
    background-repeat: no-repeat;
    background-position: center;
    @include border-radius(0,3px,3px,0);
    border:0;
    cursor: pointer;
}